<% @items.each do |video_id| %>
    <div class="col-md-3">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src= "//www.youtube.com/embed/<%= video_id %>"></iframe>
        </div>
        <br>
    </div>
<% end %>     
